<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><a href="https://www.mynotepaper.com/build-rest-api-with-rethinkdb-nodejs-and-expressjs">Build REST API with RethinkDB, Node.js and Express.js</a></p>
  </body>
</html>
